<!DOCTYPE html>
<html>
<head>
    <title>Spotify Playlist Saver</title>
</head>
<body>
    <h1>Welcome, {{ user_info.name }}!</h1>
    <img src="{{ user_info.image }}" alt="{{ user_info.name }}'s profile picture">
    <h2>Your Playlists:</h2>
    <ul>
        {% for playlist in user_playlists %}
        <li>
            {{ playlist.name }}
            <a href="{{ url_for('save_playlist', playlist_id=playlist.id) }}">
                <button>Save Playlist</button>
            </a>
        </li>
        {% endfor %}
    </ul>
    <br />
    <a href="{{ url_for('logout') }}">
        <button>Logout</button>
    </a>
</body>
</html>