.upper-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin-top: 5rem;
}

.login-button-container {
  justify-content: left;
  margin-left: 8rem;
  text-align: left;
}

.search-song-container{
  justify-content: center;
  align-items: center;
  /* margin-top: 6rem; */
  /* background-color: #98ECFF; */
  background-color: #0000009a;
  color: #fff;
  padding: 1.5rem;
}

.login-button {
  padding: 8px 15px;
  background-color: #1db954;
  color: black;
  border: #000000;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
}

.login-button:hover {
  background-color: #1ed760;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.spotify-logo {
  width: 40px; 
  height: auto;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.home-greeting {
  color: #F3CA52;
  max-width: 530px;
}

.home-greeting h1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
}

.home-greeting h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 0.7rem;
  text-align: left;
}

.home-greeting p {
  color:#ffffffda;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
  box-sizing: 50px;
  padding-left: 1rem;
}

.search-bar {
  display: flex;
}

.selected-songs {
  flex: 1;
  text-align: left;
}

.selected-songs ul {
  list-style-type: none;
  padding: 0;
}

.selected-songs li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.selected-songs button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 10px;
}