*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CircularSp', 'CircularSp-Arab', 'CircularSp-Hebr', 'CircularSp-Cyrl', 'CircularSp-Grek', 'CircularSp-Deva', sans-serif;
    font-weight: 700;
    font-style: normal;
  }


.profile-app{
    padding: 20px;
    /* justify-content: center;
    align-items: center; */
    background-image: url('./assets/profile-background.jpg');
  }

 .upper-section {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
  }

  .greeting{
    display: flex;
    flex-direction: column;
    color: #F3CA52;
    width: 34rem;
  }

.logout-button {
    padding: 10px 20px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 2rem;
    position: static;
    width: 8rem;
}

.logout-button:hover{
    padding: 10px 20px;
    background-color: #1bce5a;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.greeting img {
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 40px;
    border-color: #290A50;
  }

.profile-app h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
    text-shadow: 
        -1px -1px 0 #290A50,  
         1px -1px 0 #290A50,
        -1px  1px 0 #290A50,
         1px  1px 0 #290A50;
}

.profile-app h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 
      -1px -1px 0 #290A50,  
        1px -1px 0 #290A50,
      -1px  1px 0 #290A50,
        1px  1px 0 #290A50; 
}

.list-container {
    justify-content: center;
    position: center;
    justify-content: center;
    background-color: #0000009a;
    border-radius: 5px;
    padding: 0.8rem;
    width: 35rem;
  }

  .list-container h3{
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .recommendations button{
    margin: 1rem;
  }

  .recommendations-controller{
    text-align: center;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .initial{
    height: 70vh;
  }